* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

.main_header {
	text-align: center;
	margin-top: 50px;
	background-image: url(photos/footer.jpg);
	padding-bottom: 5px;
}

nav ul li {
	text-decoration: none;
	list-style: none;
	padding-top: 20px;
}

nav ul li a {
	color: whitesmoke;
	text-transform: uppercase;
	padding: 10px;
	font-size: 0.9rem;
	font-weight: bold;
}

nav ul li a img {
	height: 40px;
	width: 110px;
}

nav ul li a img:hover {
	box-shadow: 3px 5px 23px 5px rgb(4, 40, 80);
}

nav ul li a:hover {
	color: lightgray;
	text-decoration: none;
}

.mid_header {
	text-align: center;
	height: 400px;
}

h1 {
	font-weight: bold;
	font-size: 4rem;
	padding-top: 100px;
	text-transform: uppercase;
	color: gray;
}

.mid_header h5 {
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: bold;
	color: gray;
}

.round {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 2px solid black;
	display: inline-block;
	margin-top: 50px;
	text-align: center;
}

.round:hover {
	background-color: rgb(236, 234, 230);
}

.fa-play {
	padding-top: 40px;
	font-size: 3rem;
	color: gray;
	display: inline-block;
	padding: 25px;
	margin-top: 10px;
	margin-left: 10px;
}

.fa-play:hover {
	text-decoration: none;
	color: rgb(38, 92, 102);
}

.right_side,
.left_side {
	text-align: center;
	padding-top: 20px;
	border-radius: 2px;
}

.wrapper {
	margin-top: 100px;
}

.left_side h2,
h6,
.right_side h2,
h6 {
	color: whitesmoke;
	text-transform: uppercase;
	font-weight: bold;
}

.left_side h6 {
	margin-top: 20px;
}

.right_side p,
.left_side p {
	font-size: 13px;
	font-weight: bold;
	padding-left: 95px;
	padding-right: 95px;
	color: whitesmoke;
}

.main {
	background-image: url(photos/some.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

.header_card_title {
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
}

.header_card_title h2 {
	font-weight: bold;
	font-size: 4.5rem;
	color: white;
	line-height: 35px;
}

.header_card_title h5 {
	font-size: 0.93rem;
	color: white;
	font-weight: bold;
}

.card-title {
	text-transform: uppercase;
	font-weight: bold;
}

.card_bottom {
	padding-bottom: 100px;
}

.card-text {
	font-weight: bold;
	font-size: 15px;
}

.main_footer {
	background-image: url(photos/footer.jpg);
	background-repeat: no-repeat;
	padding-top: 100px;
}

.soc_icons {
	padding-left: 40px;
	position: relative;
	top: 20px;
}

.fa-twitter {
	color: aliceblue;
	font-size: 28px;
	padding: 3px;
}

.fa-twitter:hover {
	color: lightgray;
	text-decoration: none;
}

.logo_img img {
	width: 60px;
	height: 60px;
}

.logo_img h2,
.logo_img h5 {
	position: relative;
	left: 60px;
	bottom: 55px;
	text-transform: uppercase;
	color: whitesmoke;
	font-weight: bold;
	line-height: 20px;
}

.logo_img h5 {
	font-size: 1.1rem;
}

span {
	color: whitesmoke;
	position: relative;
	bottom: 60px;
	font-size: 14px;
}

.footer_text {
	color: whitesmoke;
	font-size: 14px;
}

@media only screen and (max-width: 830px) {
	h1 {
		font-size: 3rem;
	}
}

@media only screen and (max-width: 770px) {
	.right_side p,
	.left_side p {
		padding-left: 10px;
		padding-right: 10px;
	}
	.soc_icons {
		padding-left: 0px;
		margin-top: -50px;
	}
	.logo_img img {
		width: 60px;
		height: 60px;
		position: relative;
		top: 50px;
	}
	.logo_img h2 {
		margin-top: 50px;
		width: 120px;
	}
	.logo_img h5 {
		width: 120px;
	}
	.left_side h2,
	h6,
	.right_side h2,
	h6 {
		color: black;
	}
	.right_side p,
	.left_side p {
		color: black;
	}
}

@media only screen and (max-width: 500px) {
	.main_header {
		padding-bottom: 15px;
	}
	.one,
	.two,
	.three,
	.four {
		position: relative;
		top: 40px;
		font-size: 0.8rem;
	}
	.three,
	.four {
		position: relative;
		right: 62px;
	}
	.one,
	.two {
		position: relative;
		left: 62px;
	}
	nav ul li a img {
		margin-bottom: 20px;
	}
	nav ul li a {
		padding: 5px;
	}
	h1 {
		font-size: 2rem;
	}
	.mid_header h5 {
		font-size: 0.7rem;
	}
}

@media only screen and (max-width: 425px) {
	.one,
	.two,
	.three,
	.four {
		font-size: 0.6rem;
		padding: 1px;
	}
	h1 {
		font-size: 1.9rem;
	}
	.mid_header h5 {
		font-size: 0.6rem;
	}
	.left_side h2,
	.right_side h2 {
		font-size: 1.7rem;
	}
}

@media only screen and (max-width: 339px) {
	.one,
	.two,
	.three,
	.four {
		font-size: 0.5rem;
		padding: 0.5px;
	}
}